{% extends 'base.html.twig' %}
{% block title %}Modification du  profil de l'utilisateur{% endblock %}
{% block body %}
    <div class="container">
        <h1>Modification d'un profil utilisateur</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">Enregistrez les modifications</button>
        {{ form_end(form) }}
    </div>
{% endblock %}



